In [1]:
import pandas as pd
import os

In [5]:
student_data = os.path.join('Resources', 'new_student_data.csv')
student_df = pd.read_csv(student_data)

In [7]:
student_df.head()
student_df.tail()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
13935,32277979,Kelly Myers,10th,Sullivan High School,62.3,37.9,Public
13936,109412748,Kimberly Burke,10th,Montgomery High School,99.5,89.8,Public
13937,16856426,Crystal Merritt,9th,Turner High School,86.3,71.1,Public
13938,88213835,Misty Wiggins,10th,Fisher High School,75.4,76.4,Public
13939,12153644,Michele Jones,11th,Chang High School,69.0,72.4,Public

In [8]:
student_df['student_name']

0            Sarah Douglas
1        Francisco Osborne
2                Ryan Haas
3             Kathryn Mack
4          Harold Reynolds
               ...
13935          Kelly Myers
13936       Kimberly Burke
13937      Crystal Merritt
13938        Misty Wiggins
13939        Michele Jones
Name: student_name, Length: 13940, dtype: object