In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
#  1. Get the total rides for each city type
total_rides_by_type = pyber_data_df.groupby(['type']).count()['ride_id']
total_rides_by_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
sum_drivers_by_type = city_data_df.groupby(["type"]).sum()["driver_count"]
sum_drivers_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
sum_fares_by_type = pyber_data_df.groupby(['type']).sum()['fare']
sum_fares_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 
avg_fare_by_type = sum_fares_by_type / total_rides_by_type
avg_fare_by_type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = sum_fares_by_type / sum_drivers_by_type
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [66]:
#  6. Create a PyBer summary DataFrame. 
frame = {'Total Rides': total_rides_by_type,
         'Total Drivers': sum_drivers_by_type,
         'Total Fares': sum_fares_by_type,
         'Average Fare Per Ride': avg_fare_by_type,
         'Average Fare Per Driver': avg_fare_per_driver
        }
pyber_summary_df = pd.DataFrame(frame)
pyber_summary_df.dtypes

Total Rides                  int64
Total Drivers                int64
Total Fares                float64
Average Fare Per Ride      float64
Average Fare Per Driver    float64
dtype: object

In [58]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
mapper = {'Total Rides'}

In [67]:
mapper = {'Total Rides': '{:,}',
          'Total Drivers': '{:,}',
          'Total Fares': '${:,.2f}',
          'Average Fare Per Ride': '${:,.2f}',
          'Average Fare Per Driver': '${:,.2f}'
         }

pyber_summary_df.style.format(mapper)

In [56]:
format_mapping = {'Total Rides': '{:,. 0f}', 'Total Drivers': '{:,. 0f}', 'Total Fares': '${:,.2f}', 'Average Fare Per Ride': '${:,.2f}', 'Average Fare per Driver': '${:,.2f}'}

pyber_summary_df.style.format(formatter=format_mapping)

ValueError: Format specifier missing precision